/* =========================
   COLOR VARIABLES
========================= */

:root {
    --primary: #0A3D91;
    --primary-dark: #062657;
    --primary-light: #edf5ff;
    --secondary: #00B4D8;
    --secondary-dark: #009abd;
    --text-dark: #1f2937;
    --text-body: #374151;
    --text-muted: #667085;
    --text-light: #9ca3af;
    --bg-light: #f7f9fc;
    --border-light: #e5e7eb;
    --white: #ffffff;
    --dark-bg: #111827;
}
