/* =========================
   CONTAINERS
   Datenal Technologies
   ========================= */

.container {
  width: min(var(--container-width), 92%);
  margin: auto;
  padding: 0 var(--container-padding);
}

/* Full Width Sections */
.container-fluid {
  width: 100%;
  padding: 0 var(--container-padding);
}

/* Responsive Container */
@media (max-width: 600px) {
  .container {
    padding: 0 12px;
    width: 96%;
  }
}
